
<div class="container">
    <div class="container">
        <div class="col">
           
            <div class="d-flex justify-content-center h-100">
                <h5>Empleados</h5>
            </div>
            <div class="d-flex justify-content-center h-100 mb-4">
               
                <div class="searchbar">
                  <input [(ngModel)]="search" id="listSearch" class="search_input" type="text" name="" placeholder="Search">
                  <a href="" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
              </div>


          </div>
        
      </div>
    
    
    <table class="table">
        <thead>
          <tr>
            <th [appSort]="users" data-order="desc" data-name="name" scope="col" (onSortEvent)="sortEventOnParent($event)">Nombre (cargo)
              <span *ngIf="order=='asc' && property=='name'" style="cursor: pointer;" class="material-icons home">arrow_drop_up</span>
              <span *ngIf="order=='desc' && property=='name'" style="cursor: pointer;" class="material-icons home">arrow_drop_down</span>
            </th>
            <th [appSort]="users" data-order="desc" data-name="age" scope="col" (onSortEvent)="sortEventOnParent($event)">Edad
              <span *ngIf="order=='asc' && property=='age'" style="cursor: pointer;" class="material-icons home">arrow_drop_up</span>
              <span *ngIf="order=='desc' && property=='age'" style="cursor: pointer;" class="material-icons home">arrow_drop_down</span>
            </th>
            <th [appSort]="users" data-order="desc" data-name="dateContract" data-type="date" scope="col" (onSortEvent)="sortEventOnParent($event)">Fecha Contratacion
              <span *ngIf="order=='asc' && property=='dateContract'" style="cursor: pointer;" class="material-icons home">arrow_drop_up</span>
              <span *ngIf="order=='desc' && property=='dateContract'" style="cursor: pointer;" class="material-icons home">arrow_drop_down</span>
            </th>
            <th scope="col"><div class="d-flex justify-content-center">Acciones</div></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | LockFilter: 'name': search">
           
            <td><div class="d-flex justify-content-center">{{user.data.name}}</div> <div class="d-flex justify-content-center">{{user.data.cargo}}</div> </td>
            <td><div class="d-flex justify-content-center">{{user.data.age}}</div></td>
            <td><div class="d-flex justify-content-center">{{user.data.dateContract}}</div></td>
            <td><div class="d-flex justify-content-center">
              <a [routerLink]="['/edit',user]"><span style="cursor: pointer;color: black;" (click)="edit()" class="material-icons home">create</span></a>
              <a [routerLink]="['/read',user.data]"> <span style="cursor: pointer;color: black;" class="material-icons home">remove_red_eye</span> </a> 
             
              <span style="cursor: pointer;" (click)="delete(user)" class="material-icons home">delete</span></div>
            </td>
          </tr>
         
         
        </tbody>
      </table>
      <button type="button" (click)="goToPage()" class="btn btn-primary">+ Crear nuevo empleado</button>
  </div>

