
<div class="container">
    <div class="container">
        <div class="col">
           
            <div class="d-flex justify-content-center h-100">
                <h5>Empleados</h5>
            </div>
            <div class="d-flex justify-content-center h-100 mb-4">
               
                <div class="searchbar">
                  <input class="search_input" type="text" name="" placeholder="Search">
                  <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
              </div>


          </div>
        
      </div>
    
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre (cargo)</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha Contratacion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users ">
           
            <td>{{user.name}} {{user.cargo}} </td>
            <td>{{user.age}}</td>
            <td>{{user.dateContract}}</td>
            <td><span class="material-icons home">create</span>
              <span class="material-icons home">remove_red_eye</span>
              <span class="material-icons home">delete</span>
            </td>
          </tr>
         
         
        </tbody>
      </table>
      <button type="button" (click)="goToPage()" class="btn btn-primary">+ Crear nuevo empleado</button>
  </div>

